include /components/logo/logo.pug
include /components/input/input.pug
include /components/headerOfComponent/headerOfComponent.pug
include /components/dropdown/dropdown.pug
include /components/filterDateDropdown/filterDateDropdown.pug
include /components/dateDropdown/dateDropdown.pug



- const parametersHeaderOfEmailInput = ['TEXT FIELD', 'DEFAULT', 'wide']
- const parametersHeaderOfTextInput = ['TEXT FIELD', 'HOVER', 'wide']
- const parametersHeaderOfDropdown = ['Dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateInput = [ 'masked text field', 'invisible', 'wide']
- const parametersHeaderOfFilterDropdown = ['filter date dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateDropdown = [ 'DATEDROPDOWN', 'DATEDROPDOWN', 'wide']

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Form Elements
   
  body
  .mainInner
    div(class='inputs inputs_ml')
      +logo('white')
      div(class='inputs__item inputs__item_ml item inputs__item_email')
        +input('email', 'Email', 'wide', true , parametersHeaderOfEmailInput)
      div(class='inputs__item inputs__item_ml inputs__item_text')
        +input('text', 'This is pretty awesome', 'wide', true , parametersHeaderOfTextInput)
      div(class='inputs__item inputs__item_ml inputs__item_dropdownQuests')
        +dropdown('_guests', true, parametersHeaderOfDropdown)
      div(class='inputs__item inputs__item_ml inputs__item_maskedText')
        +input('date-text', 'ДД.ММ.ГГГГ', 'wide', true , parametersHeaderOfDateInput)
      div(class='inputs__item inputs__item_ml inputs__item_dateDropdown')
        +dateDropdown(true, parametersHeaderOfDateDropdown)
      div(class='inputs__item inputs__item_ml inputs__item_filterDropdown')  
        +filterDateDropdown(true,parametersHeaderOfFilterDropdown)
      // div(class="inputs__item inputs__item_ml inputs__item_sub-text-field")
        //- +wrapperForComponentTitles('')    