include /components/logo/logo.pug
include /components/input/input.pug

doctype html
html
  head
    title Form Elements
    
  body
    +logo('theme-UI')
    .input-email
      span(class= 'input-form-email__email-text input-form-email__email-text_theme_UIkit') Text field
      span(class= 'input-form-email__email-status input-form-email__email-status_theme_UIkit') Default
      +input('email', 'Email', 'theme-UIkit')
      