include /components/logo/logo.pug
include /components/input/input.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    title Form Elements
   
  body
  +logo('theme-UI')
  .container
    .container_first-block
      +input('email', 'Email', 'themeUI', 'TEXT FIELD', 'Default')
        