@import '../../../styles/fonts.scss';
@import '../../../styles/varsColours.scss';
@import '../../../styles/mixins.scss';

.main-inner{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__title{
    @include textField($secondaryFont, normal, bold, 14px, 24px, $textColor);
    text-transform: uppercase;
  }
  &_items{
    margin-top: 143px;
  }
  &_items >:not(:first-child) {
    margin-top: 50px;
  }
}

.inputs{
  height: 660px;
  &__item{
    &_sub-text-field{
      margin-top: 80px;
      width: 267px;
      height: 44px;
      box-sizing: border-box;}
    &_ml{
      margin-left: 141px;
    }
    &_maskedText{
      margin-top: 27px;
    }
    &_text{
      margin-top: 26px;
    }
    &_dropdownQuests{
      margin-top: 25px;
    }
    &_dateDropdown{
      margin-top: 46px;
    }
    &_filterDropdown{
      margin-top: 46px;
      width: 320px;
    }
  }
}
.radio-buttons__inner{
  margin-top: 20px;
}

.rate-buttons__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  height: 24px;
}
.like-buttons__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
  height: 20px;
}
.buttons{
  &__inner{
    display:grid;
    grid-template-columns: 100px 100px; 
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 20px; 
    // width: 218px;
  }
  &__inner-without-border-buttons{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
  }
  &__inner-theme-with-arrow{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  &__inner-without-border-buttons > :not(:first-child){
    margin-left:20px;
  }
}
.arrow-icon{
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
