.mainInner{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.inputs{
  height: 660px;

  &__item{
    // margin-left: 20px;
    // _&_ml121{
    //   margin-left: 121px;
    // }
    &_ml{
      margin-left: 141px;
    }
    &_email{
      margin-top: 143px;
    }
    &_maskedText{
      margin-top: 27px;
    }
    &_text{
      margin-top: 26px;
    }
    &_dropdownQuests{
      margin-top: 25px;
    }
    &_dateDropdown{
      margin-top: 46px;
    }
    &_filterDropdown{
      margin-top: 46px;
      width: 320px;
    }
  }
}