include /components/logo/logo.pug
include /components/input/input.pug
include /components/formWrapper/formForWrapper.pug
include /components/dropdown/dropdown.pug
include /components/dateInput/dateInput.pug
include /components/filterDateDropdown/filterDateDropdown.pug 

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Form Elements
   
  body
  .mainInner
    div(class='inputs inputs_ml')
      +logo('white')
      div(class='inputs__item inputs__item_ml item inputs__item_email')
        +wrapperForForm('input-email', 'Text Field', 'default', 'wide')
          +input('email', 'Email', 'wide')
      div(class='inputs__item inputs__item_ml inputs__item_text')
        +wrapperForForm('input-text', 'Text Field', 'Hover / Focus', 'focused')
          +input('text', 'This is pretty awesome', 'wide')
      div(class='inputs__item inputs__item_ml inputs__item_dropdown')
        +wrapperForForm('input-dropdown', 'Dropdown', '', 'wide')
          +dropdown('_guests')
      div(class='inputs__item inputs__item_ml inputs__item_maskedText')
        +wrapperForForm('input-maskedText', 'masked text field', '', 'wide')
          +dateInput()
      div(class='inputs__item inputs__item_ml')  
        +wrapperForForm('input-maskedText', 'filter date dropdown', '', 'wide')
          +filterDateDropdown()          