include /components/logo/logo.pug
include /components/input/input.pug
include /components/headerOfComponent/headerOfComponent.pug
include /components/dropdown/dropdown.pug
include /components/filterDateDropdown/filterDateDropdown.pug
include /components/dateDropdown/dateDropdown.pug
include /components/arrowForward/arrowForward.pug
include /components/check/check.pug



- const parametersHeaderOfEmailInput = ['TEXT FIELD', 'DEFAULT', 'wide']
- const parametersHeaderOfTextInput = ['TEXT FIELD', 'HOVER', 'wide']
- const parametersHeaderOfDropdown = ['Dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateInput = [ 'masked text field', 'invisible', 'wide']
- const parametersHeaderOfFilterDropdown = ['filter date dropdown', 'invisible', 'wide']
- const parametersHeaderOfDateDropdown = [ 'DATEDROPDOWN', 'DATEDROPDOWN', 'wide']
- const parametersHeaderOfSubscriptionTextField = ['subscription text field', 'invisible', 'narrower']

- const optionsForDateDropdown = { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputEmail =  { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputText =  { inputName: 'text', inputType: 'text', textOfInput: 'This is pretty awesome', modificator: 'wide', theme: 'main-theme'}
- const optionsOfInputDate = { inputName:'date-text', inputType: 'text', textOfInput: 'ДД.ММ.ГГГГ', modificator:'wide', theme: 'main-theme'}
- const optionsOfInputEmailStandart =  { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'standart', theme: 'main-theme', additionalModificator: 'border-none'}


doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet")
    title Form Elements
   
body
  .mainInner
    div(class='mainInner_item inputs inputs_ml')
      +logo('white')
      div(class='inputs__item inputs__item_ml item inputs__item_email')
        +input(optionsOfInputEmail, true , parametersHeaderOfEmailInput)
      div(class='inputs__item inputs__item_ml inputs__item_text')
        +input(optionsOfInputText, true , parametersHeaderOfTextInput)
      div(class='inputs__item inputs__item_ml inputs__item_dropdownQuests')
        +dropdown('_guests', true, parametersHeaderOfDropdown)
      div(class='inputs__item inputs__item_ml inputs__item_maskedText')
        +input(optionsOfInputDate,  true , parametersHeaderOfDateInput)
      div(class='inputs__item inputs__item_ml inputs__item_dateDropdown')
        +dateDropdown(optionsForDateDropdown, true, parametersHeaderOfDateDropdown)
      div(class='inputs__item inputs__item_ml inputs__item_filterDropdown')  
        +filterDateDropdown(true,parametersHeaderOfFilterDropdown)
      div(class="inputs__item inputs__item_ml inputs__item_sub-text-field")
        h2(class="email-form__title")="subscription text field"
        form(class="email-form email-form_main-theme")
          +input(optionsOfInputEmailStandart, false , parametersHeaderOfSubscriptionTextField)
          +arrowForward('primery-theme', 'main-size')
    div(class="mainInner_item checkboxes")
      div(class="wrapper checkboxes__wrapper")
        h2(class="checkboxes_title")
        div(class="checkboxes_inner")="Checkbox buttons"
          +check('Можно курить', 'checkbox', 'toogle', 'pd44px')
          +check('Можно с питомцами', 'checkbox', 'toogle', 'pd44px')
          +check('Можно пригласить гостей (до 10 человек)', 'checkbox', 'toogle', 'pd44px')
          // +check('Получать спецпредложения', 'checkbox', 'standart', 'widely')
