// @import "~/node_modules/material-design-icons/iconfont/material-icons.css";
@import '../../styles/varsColours.scss';
@import '../../styles/fonts.scss';
 @import '../../styles/mixins.scss';

.dropdown{
  position: relative;
  box-sizing: border-box;
  padding: 0 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  width: 100%;
  &__wrapper{
    width: 100%;
    &_standart-size{
      max-width: 266px;
      max-height:44px;
      
    }
    &_wide{
      max-width: 320px;
      max-height: 44px;
    }
  }
  &__window-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__window{
    margin-left: 15px;
    @include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor25);
    &:hover, &:active{
      @include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor75);
    }
  }
  &__result{
    margin-left: 15px;
  }
  &:hover,&:active{
    border: 1px solid rgba(31, 32, 65, 0.50);
  }
  &_mt4{
    margin-top: 4px;
  }
}

.dropdown-menu{
  padding: 7px;
  text-decoration: none;
  background: #ffffff;
  border-top: 1px solid $textColor50;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  // border: none;
  // background: none;
  @include textField($secondaryFont, normal, bold, 12px, 15px, $mainColor);
  text-transform: uppercase;
    &_disabled{
      display: none;
    }
    &_active{
      display: block;
    }
  &__display{
    @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor);
    text-align: center;
    text-transform: uppercase;
  }
  &_disabled{
    opacity: 0;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:5px;
    &_nameOfItem{
      @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor);
      text-transform: uppercase;
    }
  }
  &__minus-button, &__plus-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    @include textField($secondaryFont, normal, normal, 18px, 22px, $textColor50);
  }
  &__buttons{
    width: 92px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.dropdown-menu-buttons{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px 0;
  &__button{
    &_style{
      @include textField($secondaryFont, normal, bold, 12px, 15px, $mainColor);
      text-transform: uppercase;
    }
    &_disabled{
      display: none;
    }
  }
 &_flex-end{
   justify-content: flex-end;
 }
 &_space-between{
  justify-content: space-between;
 }
}