include /components/expandMore/expandMore.pug 

mixin dropdown(type)
  div(class='dropdown dropdown'+type)
    .dropdown__window-inner
      span.dropdown__window
      +expandMore('dropdown')
    .dropdown-menu
    