include /components/expandMore/expandMore.pug 
include /components/headerOfComponent/headerOfComponent.pug

mixin dropdown( type, dropdownSize, headerOfComponent, parametersOfHeaderOfComponent)
  if (headerOfComponent === true)
    div(class=`dropdown__wrapper dropdown__wrapper_${dropdownSize}`)
      +headerOfComponent(...parametersOfHeaderOfComponent)
      div(class='dropdown dropdown'+type)
        .dropdown__window-inner
          span.dropdown__window
          +expandMore('main-theme', 'main-size')
        .dropdown-menu
          .dropdown-menu
  else
    div(class=`dropdown__wrapper dropdown__wrapper_${dropdownSize}`)
      div(class='dropdown dropdown'+type)
        .dropdown__window-inner
          span.dropdown__window
          +expandMore('main-theme', 'main-size')
        .dropdown-menu