include /components/expandMore/expandMore.pug 

mixin dropdown(type)
  div(class='dropdown dropdown'+type)
    .dropdown__windowInner
      span.dropdown__window
      +expandMore('dropdown')
    .dropdownMenu
    