// @import "~/node_modules/material-design-icons/iconfont/material-icons.css";
@import '../../styles/varsColours.scss';
@import '../../styles/fonts.scss';
 @import '../../styles/mixins.scss';

.dropdown{
  position: relative;
  box-sizing: border-box;
  padding: 0 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
    &_guests{
      width: 320px;
      height: 44px;
    }
    &_rooms{
      width: 266px;
      height: 44px;
    }
  &__window-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  &__window{
    margin-left: 15px;
    @include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor25);
    &:hover, &:active{
      @include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor75);
    }
  }
  &__result{
    margin-left: 15px;
  }
  &:hover,&:active{
    border: 1px solid rgba(31, 32, 65, 0.50);
  }
}

.dropdown-menu{
  text-decoration: none;
  border: none;
  background: none;
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $mainColor;
    &_disabled{
      display: none;
    }
    &_active{
      display: block;
    }
  &__display{
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1F2041;
  }
  &_ml15{
    margin-left: 15px;
  }
  &_mr7{
    margin-right: 7px;
  }
  &_disabled{
    opacity: 0;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-top: 7px;
    margin-right: 7px;
    &_nameOfItem{
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #1F2041;
    }
  }
  &__minus-button, &__plus-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(31, 32, 65, 0.5);
  }
  &__buttons{
    width: 92px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__disabled{
      display: none;
    }
  }
}

.dropdown-menu-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  &__button{
    font-family: $secondaryFont;
    &_style{
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $mainColor;
    }
  }
}