mixin dropdown(type)
  div(class='dropdown dropdown'+type)
    .dropdown__windowInner
      span.dropdown__window
      .dropdown__windowButton
        span(class="material-icons")='expand_more'
    .dropdownMenu
    