include ../card/card.pug

mixin pagination()
  .pagination
    div(class="pagination__list-wrapper")
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
      .test
    div(class="pagination__controller")