include ../roomCard/roomCard.pug

mixin pagination(size, pages =  false)
  if(items === false)
    .pagination
      div(class="pagination__list-wrapper")
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
        .test
      div(class=`pagination__controller pagination__controller_padding-${size}`)
  else
  .pagination
    div(class="pagination__list-wrapper")
      each page in pages
        +roomCard(page)
      //- +roomCard()

    div(class=`pagination__controller pagination__controller_padding-${size}`)
