html, body{
  height: 100%;
}
.colour-items{
  margin-top: 97px;
}
.page{
  height: 100%;
  display: flex;
  flex-direction: row;
}
.colours{
  width: 50%;
  min-height: 100%;
}
.types{
  width: 50%;
  min-height: 100%;
}
.colour-items{
  width: 270px;
  height: 610px;
  margin-left: 150px;
  margin-top: 98px;
}
.types-item {
  display: flex;
  flex-direction: column;
  width: 403px;
  height: 321px;
  margin-top: 145px;
  margin-right: 191px;
  margin-left: 127px;
}

@media only screen and (max-width: 1100px){
  .types-item {
    margin-left: 0px;
  }
}
