include /components/logo/logo.pug
include /components/colorData/colorData.pug
include /components/types/type.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    title Colours and Types
    
  body
    .page
      .colours
        +logo()
        .colour-items
          +colorData('Dark Shade 100%', '#1F2041','_dark100')
          +colorData('Dark Shade 75%', '#1F2041', '_dark75')
          +colorData('Dark Shade 50%', '#1F2041', '_dark50')
          +colorData('Dark Shade 25%', '#1F2041', '_dark25')
          +colorData('Dark Shade 5%', '#1F2041', '_dark5')
          +colorData('Purple', '#BC9CFF', '_purple')
          +colorData('Green', '#6FCF97', '_green')
      .types
        .types-item
          +type('H1','This one is the sub-section or widget title')
          +type('H2', 'Next one is the item title inside widgets')
          +type('H3', 'This is a label or CTA text')
          +type('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')