$textColor: #1F2041;
$textColor100:rgba($textColor,1);
$textColor75:rgba($textColor, .75);
$textColor50:rgba($textColor, .5);
$textColor25:rgba($textColor,.25);
$textColor5:rgba($textColor, .05);
$mainColor:#BC9CFF;
$secondaryColor:#6FCF97;