mixin expandMore(...modificators)      
  .expand-more
    - let str = 'material-icons expand-more__icon'
    each modificator in  [...modificators]
      - str += ` expand-more__icon_${modificator}`
    span(class=`${str}`)=' expand_more'