@import '../../styles/_varsColours.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.expand-more{
  &__icon{
      box-sizing: border-box;
    &_main-size{
      width: 44px;
      height: 44px;
    }
    &_size-small{
      width: auto;
    }
    &_main-theme{
      display: flex;
      justify-content: center;
      align-items: center;
      color:$textColor50;
      border: none;
        &:active, &:hover {
          color:$textColor75;
        }
    }
  }
}