include /components/headerOfComponent/headerOfComponent.pug

mixin input( inputType, textOfInput, modificator, headerOfComponent, parametersOfHeaderOfComponent)
  if (headerOfComponent === true)
    .input-wrapper
      +headerOfComponent(...parametersOfHeaderOfComponent)
      input(class= `input input_${modificator} input_${inputType}` type= inputType placeholder= textOfInput)
  else
      input(class= `input input_${modificator} input_${inputType}` type= inputType placeholder= textOfInput)        