 @import '../../styles/mixins.scss';
 @import '../../styles/fonts';
 @import '../../styles/varsColours.scss';
 @import '../../styles/mixins.scss';
 
 
 
 .input{
  &_wide{
    box-sizing: border-box;
    width: 320px;
    height: 44px;
  }
  &_standart{
    box-sizing: border-box;
    height: 44px;
    width: 100%;
  }
  &_border-right-none{
    border-right: none;
  }
  &_main-theme{
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor25)}
    padding: 13px 0  13px 15px;
    &:hover, &:active{
      @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor75)}
      border: 1px solid rgba(31, 32, 65, 0.5);
      }
   }
   &_border-none{
    border: none;
   }
   &__wrapper-for-titles{
    display: flex;
    justify-content: space-between;
    &_padding-bottom{
      padding-bottom: 5px;
    }
   }
   &__name{
    @include textField($secondaryFont, normal, bold, 12px,15px, $textColor100);
    text-transform: uppercase;
    letter-spacing: 1px;
   }
   &__status{
    @include textField($secondaryFont, normal, normal, 12px,15px, $textColor50);
    text-transform: uppercase;
   }
}

