@import './src/styles/mixins.scss';
@import './src/styles/fonts.scss';
@import './src/styles/varsColours.scss';




.input{
  &-email{
    &_email{
      box-sizing: border-box;
      &__themeUI{
        width: 320px;
        height: 44px;
      }
      &__themeUI::-webkit-input-placeholder {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; 
        color: $textColor25;
      }
      &__themeUI::-moz-placeholder          {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
      &__themeUI:-moz-placeholder{
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
      &__themeUI:-ms-input-placeholder {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
    }
  }
//   &-info{
//     display: flex;
//     &_status{
//       font-family: $secondaryFont;
//       font-style: normal;
//       font-weight: normal;
//       font-size: 12px;
//       line-height: 15px;
//       text-align: right;
//       text-transform: uppercase;
//       color: $textColor50;
//       &__themeUI{
//         margin-bottom: 3px;
//       }
//     }
//     &_text{
//       font-family: $secondaryFont;
//       font-style: normal;
//       font-weight: bold;
//       font-size: 12px;
//       line-height: 15px;
//       text-transform: uppercase;
//       color: $textColor;
//       &__themeUI{
//         margin-right: 194px;
//         margin-bottom: 5px;
//       }
//     }
//   }
 }

