@import './src/styles/mixins.scss';
@import './src/styles/fonts.scss';
@import './src/styles/varsColours.scss';




.input{
  &-email, &-text{
    &_email, &_text{
      box-sizing: border-box;
      &__wide{
        width: 320px;
        height: 44px;
      }
      &__wide::-webkit-input-placeholder {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; 
        color: $textColor25;
      }
      &__wide::-moz-placeholder          {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
      &__wide:-moz-placeholder{
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
      &__wide:-ms-input-placeholder {
        padding: 13px 0  13px 15px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $textColor25;
      }
    }
  }

 }

