mixin input( inputType, textOfInput, modificator)
  form(class= 'input-email')
    input(class= `input-email__${inputType} input-email__${inputType}_${modificator}` type= inputType placeholder= textOfInput)