@import "~normalize.css";
@import '../assets/fonts/fonts.css';



body {
  font-family: 'Quicksand', sans-serif;
}
.container {
  background:rgb(95, 66, 66);
  width: 300px;
  height: 300px;
}
h1 {
  color: blue;
}
.logo{
  background-image: url('../assets/flag.png');
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
}