@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';

.login-form{
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  max-width: 380px;
  width: 100%;
  &_main-theme{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  &__inputs-wrapper{
    &_mt20{
      margin-top: 20px;
    }
  }
  &_input-password{
    &_mt10{
      margin-top: 10px;
    }
  }
  &__title{
    &_main-theme{
      @include textField($secondaryFont, normal, bold, 24px, 29px, #1F2041);
      text-transform: capitalize;
      letter-spacing: 2.6px;
    }
  }
  &__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_mt30{
      margin-top: 30px;
    }
  }
  &__footer-subtitle{
    @include textField($secondaryFont, normal, normal, 14px, 18px, #000000);
    &_uppercase{
      text-transform: uppercase;
    }
  }
  &__button{
    &_mt20{
      margin-top: 20px;
    }
  }
  &__footer{
    &_mt30{
      margin-top: 30px;
    }
  }
}