mixin logo(title=false)
  .logo
    if(title===false)
      img(class="logo" src="../../../assets/img/svg/bird-icon.svg" alt="icon-bird")
    else
      img(class="logo" src="../../../assets/img/svg/LogoPrimaryGradient.svg" alt="icon-bird")
    