@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';
@import '../../styles/mixins.scss';

.datepicker{
  &__container{
    width: 266px;
    height: 44px;

  }
}
.js-datepicker{
  width: 100%;
  height: 100%;
  background: url('../../assets/img/svg/expand_more.svg') no-repeat;
  background-position: right 10% bottom 45%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor25)};
  padding: 13px 0  13px 15px;
  &:hover, &:focus{
    @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor75)};
    padding: 13px 0  13px 15px;
    border: 1px solid rgba(31, 32, 65, 0.50);
    background: url('../../assets/img/expand_more_focus.png') no-repeat;
    background-position: right 10% bottom 45%;
  }
}

.datepicker{
  min-width: 320px;
  width: 100%;
  &--content{
    padding: 0px 20px;
  }
  &--nav{
    min-height: 52px;
    justify-content: space-around;
  }
  &--nav-title, &--nav-title i{
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1F2041;
  }
  &--nav-action{
    display: flex;
    align-items: center;
    text-align: center;
  }
  &--nav-action span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $mainColor;
  }
  &--days-names{
    flex-wrap: nowrap;
  }
  &--day-name{
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $mainColor;
    width: 100%;
    max-width: 40px;
    height: 40px;
    flex-wrap: nowrap;
  }
  &--cell-day{
    width: 40px;
    height: 40px;
    color: rgba(31, 32, 65, 0.5);
  }
  &--cell-day.-current-{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
  }
  &--cell-day.-range-from-.-selected-{
    background: linear-gradient(180deg, $mainColor 0%, #8BA4F9 100%);
    border-radius: 50% 0 0 50%;
 
  }
  &--cell-day.-range-to-.-selected-{
    background: linear-gradient(180deg, $mainColor 0%, #8BA4F9 100%);
    border-radius: 0 50% 50% 0;
  }
  &--cell-day.-in-range-, &--cell-day.-in-range-.-current-{
    background: linear-gradient(180deg, $mainColor 0%, #8BA4F9 100%);
    opacity: 0.25;
    border-radius: 0;
    color: rgba(31, 32, 65, 0.5);
  }
  &--buttons > *{
    color: $mainColor;
    border: none;
  }
}