.card{
  height: 40px;
  &_1{
    background-color: red;
  }
  &_2{
    background-color: green;
  }
  &_3{
    background-color: pink;
  }
  &_4{
    background-color: yellow;
  }
  &_5{
    background-color: sandybrown;
  }
  &_6{
    background-color: forestgreen;
  }
  &_7{
    background-color: fuchsia;
  }
  &_8{
    background-color: darkblue;
  }
  &_9{
    background-color: salmon;
  }
  &_10{
    background-color: ghostwhite;
  }
  &_11{
    background-color: dodgerblue;
  }
  &_12{
    background-color: fuchsia;
  }
  &_13{
    background-color: honeydew;
  }
  &_14{
    background-color: khaki;
  }
  &_15{
    background-color: olive;
  }
  &_16{
    background-color: tan;
  }
}