.check{
  display: block;
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 20px;
  &__input{
    appearance: none;
    position: absolute;
  
    &:checked + .check__box{
      background: url('http://localhost:8082/src/assets/img/vector.svg') no-repeat center center;
      border: 1px solid #BC9CFF;
      box-sizing: border-box;
      border-radius: 4px;
    } 
  }
  &__box{
    position: absolute;
    left: 0%;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }
}