@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';

.check{
  display: block;
  position: relative;
  max-width: max-content;
  // margin-top: 20px;
  &__subtitle{
    &_normal{
      @include textField($secondaryFont, normal, normal, 12px, 14px, $textColor50);
    }
    &_pl30px{
      padding-left: 30px;
    }
    &_mt{
      margin-top: 5px;
    }
  }
  &_mt12{
    margin-top: 12px;
  }
  &__label{
    &_normal-text{
      @include textField($secondaryFont, normal, normal, 14px, 18px, $textColor50);
    }
    &_bold-text{
      @include textField($secondaryFont, normal, bold, 14px, 18px, $textColor75);
    }
    &_pl30px{
      padding-left: 30px;
    }
    &_pl51px{
      padding-left: 51px;
    }
  }
  &::first-letter{
    text-transform: uppercase;
  } 

  &__input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &_standart{
      position: absolute;
      &:checked + .check__box{
        background: url('../../assets/img/svg/vector.svg') no-repeat center center;
        border: 1px solid #BC9CFF;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }
    &_toogle{
      position: absolute;
      left: 0;
      width: 40px;
      height: 20px;
      margin: 0;
      vertical-align: top;
      background: #ffffff;
      border: 1px solid #bbc1e1;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      &::after{
        content: "";
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        position: absolute;
        left: 3px;
        top: 1.5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translateX(0);
        background: rgba(31, 32, 65, 0.25);
        border-radius: 10px;
      }
      &:checked::after {
        transform: translateX(calc(100% + 8px));
        background-color: #fff;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
      &:checked{
        border: 1px solid #BC9CFF;
      }
    }
    &_toogle::first-letter{
      text-transform: uppercase;
    }
  }
  &__box{
    &_standart{
      position: absolute;
      top: 0;
      left: 0%;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
    }
    &_toggle{
      display: none;
    }
  }
}
