@import '../../styles/mixins.scss';
@import '../../styles/fonts';
@import '../../styles/varsColours.scss';

.bulletList{
  position: relative;
  width: 100%;
  & > *:not(:first-child) {
    margin-top: 10px;
  }
  & > :first-child {
    margin-top: 16px;
  }
  &__item{
    margin-left: 20px;
    @include textField($secondaryFont, normal, normal, 14px, 24px, $textColor75);
    width: 100%;
    letter-spacing: 1px;
  }
  &__item::first-letter{
    text-transform: uppercase;
  }
  &__item:before{
    content:"\f111"; 
    font-family:FontAwesome;
    position: absolute;
    left: 0;
    color:$textColor25;
    font-size:12px;
  }
  &__wrapper{
    max-width: max-content;
  }
  &__title{
    &_capitalize{
      text-transform: capitalize;
    }
    &_uppercase{
      text-transform: uppercase;
    }
    &_size{
      &-small{
        @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor);
        letter-spacing: 1px;
      }
      &-standart{
        @include textField($secondaryFont, normal, bold, 19px, 23px, #1F2041);
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }
    &_ml21{
      margin-left: 21px;
    }
  }
}