@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';
@import '../../styles/mixins.scss';




  .arrow-forward{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &_primary-theme{
      background: $primaryGradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_secondary-theme{
      background: $secondaryColorForButtons;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &_main-size{
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 44px;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 24px;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  };