mixin arrowForward(...modificators)      
    - var classes = [...modificators]
    - let str = 'material-icons'
    each val in classes
      - str += ` arrow-forward_${val} `
    span(class=`${str}`)="arrow_forward"
