@import '../../assets/vars/varsColours.scss';

.color-data__color-view_dark100 {
  background: $textColor100;
}
.color-data__color-view_dark75{
  background: $textColor75;
}
.color-data__color-view_dark50{
  background: $textColor50;
}
.color-data__color-view_dark25{
  background: $textColor25;
}
.color-data__color-view_dark5{
  background: $textColor5;
}
.color-data__color-view_purple{
  background: $mainColor;
}
.color-data__color-view_green{
  background: $secondaryColor;
}