.color-data__color-view_dark100 {
  background: #1F2041;
}
.color-data__color-view_dark75{
  background: rgba(31, 32, 65, 0.75);
}
.color-data__color-view_dark50{
  background: rgba(31, 32, 65, 0.5);
}
.color-data__color-view_dark25{
  background: rgba(31, 32, 65, 0.25);
}
.color-data__color-view_dark5{
  background: rgba(31, 32, 65, 0.05);
}
.color-data__color-view_purple{
  background: #BC9CFF;
}
.color-data__color-view_green{
  background: #6FCF97;
}