include /components/expandMore/expandMore.pug 

mixin dateDropdown()
  div(class="date-dropdown")
    .date-dropdown__wrapper
      input(type="text" placeholder="ДД.ММ.ГГГГ" data-range="true" data-multiple-dates-separator=" - " class="date-dropdown date-dropdown__input date-dropdown__input_one")
    .date-dropdown__wrapper
      input(type="text" placeholder="ДД.ММ.ГГГГ" class="date-dropdown date-dropdown__input date-dropdown__input_two")
