include /components/expandMore/expandMore.pug 

mixin dateDropdown()
  div(class="dateDropdown")
    .dateDropdown__wrapper
      input(type="text" placeholder="ДД.ММ.ГГГГ" data-range="true" data-multiple-dates-separator=" - " class="dateDropdown dateDropdown__input dateDropdown__input_one")
    .dateDropdown__wrapper
      input(type="text" placeholder="ДД.ММ.ГГГГ" class="dateDropdown dateDropdown__input dateDropdown__input_two")
