@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';
@import '../../styles/mixins.scss';

.date-dropdown{
  position: relative;
  max-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  &__input{
    box-sizing: border-box;
    border-radius: 4px;
    &_main-theme{
      background: url('../../assets/img/svg/expand_more.svg') no-repeat;
      background-position: right 10% bottom 45%;
      max-width: 150px;
      width: 100%;
      border: 1px solid rgba(31, 32, 65, 0.25);
      @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor25)};
      padding: 13px 0  13px 15px;
      &:hover, &:focus{
        @include placeholder {@include textField($secondaryFont, normal, normal, 14px, 24px,  $textColor75)};
        padding: 13px 0  13px 15px;
        border: 1px solid rgba(31, 32, 65, 0.5);
        background: url('../../assets/img/expand_more_focus.png') no-repeat;
        background-position: right 10% bottom 45%;
      }
    }
    &_mt5{
      margin-top: 5px;
    }
  }
  &__input-name{
    &_main-theme{
      @include textField($secondaryFont, normal, bold, 12px, 15px,  $textColor100);
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.datepicker{
  min-width: 320px;
  width: 100%;
  &--content{
    padding: 0px 20px;
  }
  &--nav{
    min-height: 52px;
    justify-content: space-around;
  }
  &--nav-title, &--nav-title i{
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #1F2041;
  }
  &--nav-action{
    display: flex;
    align-items: center;
    text-align: center;
  }
  &--nav-action span{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $mainColor;
  }
  &--days-names{
    flex-wrap: nowrap;
  }
  &--day-name{
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BC9CFF;
    width: 100%;
    max-width: 40px;
    height: 40px;
    flex-wrap: nowrap;
  }
  &--cell-day{
    width: 40px;
    height: 40px;
    color: rgba(31, 32, 65, 0.5);
  }
  &--cell-day.-current-{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, $secondaryColor 0%, #66D2EA 100%);
    border-radius: 50%;
  }
  &--cell-day.-range-from-.-selected-{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 50% 0 0 50%;
 
  }
  &--cell-day.-range-to-.-selected-{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 0 50% 50% 0;
  }
  &--cell-day.-in-range-, &--cell-day.-in-range-.-current-{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    border-radius: 0;
    color: rgba(31, 32, 65, 0.5);
  }
  &--buttons > *{
    color: #BC9CFF;
    width: 50%;
    background: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
