.cards{
  background: #E5E5E5;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  &__logo-wrapper{
    background: red;
    position: absolute;
    &_ml30{
      margin-left: 30px;
    }
    &_mt30{
      margin-top: 30px;
    }
  }
}
.cards > *:not(:first-child) {
  margin-left: 40px;

}