include /components/logo/logo.pug
include /components/searchRoom/searchRoom.pug
include /components/dropdown/dropdown.pug
include /components/registrationForm/registrationForm.pug
include /components/roomInfo/roomInfo.pug


// - const parametersHeaderOfDateDropdown = [ 'DATEDROPDOWN', 'DATEDROPDOWN', '', 'wide']
// - const optionsForDateDropdown = { inputName: 'email', inputType: 'text', textOfInput: 'Email', modificator: 'wide', theme: 'main-theme'}

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale= 1.0, user-scalable=0")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    title Cards
    
body
  +logo('white')
  .cards
    +searchRoom({styleModificator: "main-theme"}, {positionModificator: 'mt20'}, {positionModificator: 'mt20'}, {positionModificator: 'mt30'}) 
    +registrationForm({ themeModificator: "main-theme" }, { positionModificator: "mt20" }, { positionModificator: "mt10" }, { positionModificator: "mt10" },{ positionModificator: "mt22" },{ wrapperPositionModificator: "mt20",emailPositionModificator: "mt5", inputPasswordPositionModificator: "mt10", checkPositionModificator: "mt10"}, {positionModificator: "mt24"},{positionModificator: "mt30"})
    +roomInfo( "888" ,{ value: "люкс", positionModificator: "ml8" }, "9990", { majorCostsText: "9 990₽ х 4 суток", majorCostsValue: "39960₽", feeName: "Сбор за услуги: скидка 2 179₽", feeValue: "0₽", additionalServicesText: `Сбор за дополнительные 
    услуги`, additionalServicesValue: "300₽", totalValue: "38 081₽" })
    