include /components/like/like.pug

mixin feedback(avatarOptions, nameOptions, dateOptions, contentOptions)
  div(class="feedback")
    div(class="feedback__inner-source")
      div(class=`feedback__avatar feedback__avatar_${avatarOptions.modificator}`)
      div(class="feedback__inner-info")
        h3(class=`feedback__name feedback__name_${nameOptions.modificator}`)=nameOptions.name
        p(class=`feedback__date feedback__date_${dateOptions.modificator}`)=dateOptions.date
    div(class="feedback__inner-content")
      .feedback__inner-like 
        +like('standart-size', 'checked', '12')
      pre
        p(class=`feedback__subtitle feedback__subtitle_${contentOptions.subtitleStyleModificator} feedback__subtitle_${contentOptions.subtitlePositionModificator}`)!=contentOptions.subtitle