@import './src/styles/_fonts.scss';
@import './src/styles/_varsColours.scss';

.type-info{
  display: flex;
  font-style: normal;
  &__tag{
    text-align: right;
    font-family: $secondaryFont;
    box-sizing: border-box;
    font-weight: normal;
    color: $textColor25;
    &_H1{
      font-size: 24px;
      line-height: 29px;
      margin-left: 8px;
    }
    &_H2{
      font-size: 19px;
      line-height: 23px;
      margin-left: 10px;
    }
    &_H3{
      font-size: 12px;
      line-height: 15px;
      margin-left: 20px;
    }
    &_Body{
      font-size: 14px;
    }
  }
  &__text{
    margin-bottom: 50px;
    margin-left: 30px;
    &_H1{
      font-family: $mainFont;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
    }
    &_H2{
      font-family: $mainFont;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      margin-right: 54px;
    }
    &_H3{
      font-family: $secondaryFont;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      margin-right: 150px;
    }
    &_Body{
      font-family: $secondaryFont;
      color: $textColor75;
      margin-right: 35px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
