mixin roomQuality(iconOptions, titleOptions, subtitleOptions)
  .roomQuality
    div(class=`roomQuality__icon roomQuality__icon_${iconOptions.themeModificator}`)=iconOptions.iconType
    div(class=`roomQuality__wrapper-titles`)
      h3(class=`roomQuality__title roomQuality__title_${titleOptions.themeModificator}`)=titleOptions.title
      p(class=`roomQuality__subtitle roomQuality__subtitle_${subtitleOptions.themeModificator}`)=subtitleOptions.subtitle