@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';

.checkboxList{
  &_wide{
    max-width: 320px;
  }
  &_standart-size{
    max-width: 266px;
  }
  &__title{
    max-width: max-content;
    &_main-theme{
      @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor);
      text-transform: uppercase;
      padding: 15px 0;
    }
  }
  &__window{
    display: flex;
    justify-content: space-between;
  }
  &__list{
    &_closed{
      display: none;
    }
  }
  &__button{
    transform: rotate(180deg);
    &_opened{
      transform: rotate(0deg);
    }
  }
}