@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';

.email-form{
  box-sizing: border-box;
  &_main-theme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  };
  &_standart-size{
    width: 247px;
    width: 44px;
  }
  &__title{
    @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor);
    text-transform: uppercase; 
  }
}