@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';
@import '../../styles/mixins.scss';

.irs--round .irs-line{
  margin-top: -11px;
  background-color: #FFFFFF !important;
  border: 1px solid $textColor25;
  box-sizing: border-box;
  border-radius: 3px;
}
.irs--round .irs-handle {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  top: 31px;
  width: 12px;
  height: 12px;
}
.irs--round .irs-bar{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}
.range-slider{
  width: 266px;
  height: 6px;
  &__titles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    &_main-theme{
      @include textField($secondaryFont, normal, bold, 12px, 15px, $textColor100);
      text-transform: uppercase;
    }
  }
  &__values{
    &_main-theme{
      @include textField($secondaryFont, normal, normal, 12px, 15px, $textColor50);
      text-align: right;
      text-transform: uppercase;
    }
  }
  &__subtitle{
    @include textField($secondaryFont, normal, normal, 12px, 14px, $textColor50);
    letter-spacing: 1.39px;
  }
}
// .irs--flat .irs-handle > * {
//   display: none;
// }

// body > div.main-inner > div:nth-child(4) > span > span.irs-handle.from

// .main-inner > div:nth-child(4){
//   display: none;
// }