.registration{
  &_vertical{
    display: flex;
    flex-direction: column;
  }
  &__main-section{
    box-sizing: border-box;
    background: url('../../../assets/img/backgroundRegistrationPage.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 683px;
    background-position: bottom;
    &_center{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__form{
    &_indents-small{
      margin-left: 8px;
      margin-top: 4px;
    }
  }
}