@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';


.input{
  &-email, &-text, &-dropdown, &-maskedText{
    &-info{
      display: flex;
      width: 320px;
      justify-content: space-between;
      white-space: nowrap;
      margin-bottom: 5px;
      &__status{
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
        color: $textColor50;
        &_wide{
          margin-bottom: 3px;
        }
      }
      &__text{
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $textColor;
        &_wide{
          // margin-right: 194px;
          margin-bottom: 5px;
        }
        &_focused{
          margin-right: 152px;
          margin-bottom: 5px
        }
        &_mr31{
          margin-right: 31px;
        }
      }
    }
  }
}