@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/varsColours.scss';

.search-room{
  max-width: 380px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__title{
    width: 100%;
    &_main-theme{
      @include textField($secondaryFont, normal, bold, 24px, 29px, #1F2041);
    }
  }
  &__inner{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  &__date-dropdown{
    &_mt20{
      margin-top: 21px;
    }
  }
  &__quests-dropdown{
    &_mt20{
      margin-top: 21px;
    }
  }
  &__button{
    margin-top: 52px;
  }
}