.search-room{
  max-width: 380px;
  width: 100%;
  &__title{
    width: 100%;
    &_main-theme{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #1F2041;
    }
  }
  &__inner{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  &__date-dropdown{
    &_mt20{
      margin-top: 21px;
    }
  }
  &__quests-dropdown{
    &_mt20{
      margin-top: 21px;
    }
  }
  &__button{
    margin-top: 52px;
  }
}